[submodule "source/libear"]
	path = source/libear
	url = https://github.com/tsln-lab/libear.git
	branch = reference-parity
[submodule "source/min-api"]
	path = source/min-api
	url = https://github.com/Cycling74/min-api.git
[submodule "source/libadm"]
	path = source/libadm
	url = https://github.com/tsln-lab/libadm.git
	branch = master
[submodule "source/libbw64"]
	path = source/libbw64
	url = https://github.com/ebu/libbw64.git
